.ShowcaseImage {
	position: absolute;
	top: 0;
  left: 0;
  right: 0;
  height: 450px;
  overflow: hidden;
  background-image: url("halloween-showcase-large.jpg");
	background-size: cover;
	background-position: center center;
}

@media only screen and (min-width: 1500px) {
	.ShowcaseImage {
		height: 600px;
	}
}

@media only screen and (max-width: 800px) {
	.ShowcaseImage {
		top: 50px;
		height: 350px;
		background-image: url("halloween-showcase-small.jpg");
	}
}